@keyframes ldio-vvyuc9nwt8i {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-vvyuc9nwt8i div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-vvyuc9nwt8i 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-vvyuc9nwt8i div:nth-child(1) {
  border-color: #e90c59;
  animation-delay: 0s;
}
.ldio-vvyuc9nwt8i div:nth-child(2) {
  border-color: #46dff0;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-9eetajl89g9 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.3);
}
.ldio-vvyuc9nwt8i {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vvyuc9nwt8i div {
  box-sizing: content-box;
}
