.App {
  text-align: center;
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 !important;
}
/* //tést */
.header {
  /* 64 sp • H2 Heading */
  height: 77px;
  border-radius: nullpx;
  position: relative;
  z-index: 10;
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  /* identical to box height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: -1px;
  /* White */
  color: #ffffff;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header div {
  display: flex;
  justify-content: center;
}
.icon {
  width: 32px !important;
  height: 32px !important;
  left: -39px !important;
  top: 0px !important;
  margin-left: -8.5px;
  opacity: 0.48;
  border-radius: 999px;
}
.grey-color {
  background: #c2c2c2;
}
.yellow-color {
  background: #fdcb6e;
}
.green-color {
  background: #55efc4;
}
.button-plan {
  position: absolute;
  width: 306px;
  height: 60px;
  left: 0px;
  top: 412px;
  background: #ffffff;
  /* 32% Gray Light */
  border: 1px solid #adadad;
  box-sizing: border-box;
  border-radius: 999px;
  cursor: pointer;
}
.button-plan:hover {
  border: 1px solid #0b72e7;
  background: #6c5ce7;
}
.button-plan:hover .name-button {
  color: #ffffff;
}
.name-button {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  height: 100%;
  /* or 180% */
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25px;
  color: #6c5ce7;
}
.alpha {
  position: absolute;
  left: 21px;
  right: 8px;
  top: 8px;
  bottom: 8px;
  /* 12 sp • MINICAPS */
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  /* Black */
  color: #2d3436;
}
.NavBar {
  background-color: #0c0b39;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo span {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  /* or 127% */
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  color: #ffffff;
}
.auth {
  display: flex;
  width: 265px;
  justify-content: space-between;
}
.auth .btn {
  display: flex;
  width: 120px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  cursor: pointer;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.logotxt {
  margin-left: 36px;
}
.landing1st {
  /* Landing 1st */
  position: relative;
  max-width: 100%;
  height: 775px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
.planet {
  position: absolute;
  left: 63.33%;
  right: 8.89%;
  top: 17.34%;
  bottom: 27.18%;
  z-index: 2;
}
.content {
  position: absolute;
  height: 182px;
  left: 8.33%;
  right: 41.81%;
  top: 80px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 65px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -1px;
  /* White */
  color: #ffffff;
}
.content2 {
  position: absolute;
  height: 80px;
  left: 8.33%;
  right: 55.9%;
  top: 280px;
  /* Text */
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* or 150% */
  letter-spacing: -0.5px;
  color: #c6cbfa;
  text-align: start;
}
.Reactangle1 {
  position: absolute;
  width: 100%;
  height: 775px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #1e1555 0%, #4f2a7e 42.19%, #0b0a37 80%, #55c2f3 100%);
  /* opacity: 0.5; */
}
.Reactangle2 {
  position: absolute;
  width: 100%;
  height: 775px;
  left: 0;
  top: 0px;
  /* Space Gradient */
  background: linear-gradient(180deg, #2c1d84 0%, #5e0ec5 28.65%, #7955ca 76%, #50b5e3 100%);
  /* opacity: 0.5; */
}
.landing-1st-BG-wavy {
  /* Vector */
  position: absolute;
  width: 100%;
  height: 551px;
  left: 0px;
  top: 0;
  background: linear-gradient(180deg, rgba(146, 176, 255, 0.42) 0%, rgba(159, 101, 185, 0.557) 60.23%, #7955ca 100%);
  /* opacity: 0.5; */
}
.landing-1st-BG-wavy img, .stars img {
  width: 100%;
  min-width: 1440px;
}
.stars {
  /* stars */
  position: absolute;
  width: 100%;
  height: 598.84px;
  left: 0px;
  top: 26px;
  overflow: hidden;
}
.cautim {
  position: relative;
  order: 10;
}
.tim {
  height: 534px;
  position: absolute;
  left: 86px;
  top: 16px;
  border-radius: 0px;
}
img.vang {
  position: absolute;
  height: 520px;
  right: 0;
  top: 84px;
}
.xanh {
  position: absolute;
  left: 267px;
  top: 397px;
  width: 146px;
}
.register {
  position: relative;
  width: 510px;
  height: 650px;
  top: 10px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}
.create-name {
  margin: 0 auto;
  padding-top: 42px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.info {
  margin-left: 39px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.email {
  position: relative;
}
.emailtxt {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}
.placeholder {
  left: 5px;
}
.input-email {
  width: 420px;
  height: 61.8px;
  margin-top: 15.5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
  float: left;
}
.pass {
  position: relative;
  margin-top: 18.57px;
}
.passtxt {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}
.input-pass {
  float: left;
  width: 420px;
  height: 61.8px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
  margin-top: 14.5px;
}
.hidden-pass {
  position: absolute;
  top: 56px;
  right: 60px;
  width: 31px;
  width: 31px;
}
.check {
  width: 100%;
  height: 24px;
  display: flex;
  margin-top: 26.5px;
  margin-left: 35px;
}
.name-check {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 8px;
}
.btlogin {
  background: #ef792a;
  border-radius: 999px;
  height: 46.3235282898px;
  width: 232.352935791px;
  border-radius: 999px;
  margin-left: 139px;
  margin: 30px auto 0;
}
.regis {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}
.or {
  width: 100%;
  margin-top: 15.5px;
}
.social {
  width: 179px;
  margin: 33px auto;
  display: block;
}
.login {
  margin-top: 33px;
  /* width: 308px; */
  /* height: 24px; */
  /* left: 101px; */
  /* top: 570px; */
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.link {
  color: #ef792a;
}
.erros {
  position: absolute;
  bottom: -20px;
  left: 10px;
  color: red;
  font-size: 12px;
  margin-top: 10px;
}
