.App {
  text-align: center;
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  position: relative;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 !important;
}
/* //tést */
.NavBar {
  background-color: #0c0b39;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo span {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  /* or 127% */
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  color: #ffffff;
}
.landing-1st {
  /* Landing 1st */
  position: relative;
  max-width: 100%;
  height: 775px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
.Reactangle1 {
  position: absolute;
  width: 100%;
  height: 775px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #1e1555 0%, #4f2a7e 42.19%, #0b0a37 80%, #55c2f3 100%);
  /* opacity: 0.5; */
}
.Reactangle2 {
  position: absolute;
  width: 100%;
  height: 775px;
  left: 0;
  top: 0px;
  /* Space Gradient */
  background: linear-gradient(180deg, #2c1d84 0%, #5e0ec5 28.65%, #7955ca 76%, #50b5e3 100%);
  /* opacity: 0.5; */
}
.landing-1st-BG-wavy {
  /* Vector */
  position: absolute;
  width: 100%;
  height: 551px;
  left: 0px;
  top: 0;
  background: linear-gradient(180deg, rgba(146, 176, 255, 0.42) 0%, rgba(159, 101, 185, 0.557) 60.23%, #7955ca 100%);
  /* opacity: 0.5; */
}
.landing-1st-BG-wavy img, .stars img {
  width: 100%;
  min-width: 1440px;
}
.stars {
  /* stars */
  position: absolute;
  width: 100%;
  height: 598.84px;
  left: 0px;
  top: 26px;
  overflow: hidden;
}
.cautim {
  position: relative;
  order: 10;
}
.tim {
  height: 534px;
  position: absolute;
  left: 86px;
  top: 16px;
  border-radius: 0px;
}
img.vang {
  position: absolute;
  height: 520px;
  right: 0;
  top: 84px;
}
.xanh {
  position: absolute;
  left: 267px;
  top: 397px;
  width: 146px;
}
.register {
  position: relative;
  width: 510px;
  height: 650px;
  top: 10px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}
.create-name {
  margin-left: 131px;
  padding-top: 42px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.info {
  margin-left: 39px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.emailtxt {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}
.placeholder {
  left: 5px;
}
.input-email {
  width: 420px;
  height: 61.8px;
  margin-top: 15.5px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
  float: left;
}
.pass {
  position: relative;
  margin-top: 18.57px;
}
.passtxt {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
}
.input-pass {
  float: left;
  width: 420px;
  height: 61.8px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
  margin-top: 14.5px;
}
.hidden-pass {
  position: absolute;
  top: 56px;
  right: 60px;
  width: 31px;
  width: 31px;
}
.check {
  width: 100%;
  height: 24px;
  display: flex;
  margin-top: 26.5px;
  margin-left: 35px;
}
.name-check {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 8px;
}
.btlogin {
  background: #ef792a;
  border-radius: 999px;
  height: 46.3235282898px;
  width: 232.352935791px;
  border-radius: 999px;
  margin-left: 139px;
  margin: 30px auto 0;
}
.regis {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}
.or {
  width: 100%;
  margin-top: 15.5px;
}
.social {
  width: 179px;
  margin: 33px auto;
  display: block;
}
.login {
  margin-top: 33px;
  /* width: 308px; */
  /* height: 24px; */
  /* left: 101px; */
  /* top: 570px; */
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.link {
  color: #ef792a;
}
.erros {
  margin-top: 10px;
  padding-left: -33px;
  margin-left: -36px;
}
